$green-color: #1db954;
$white-color: #fff;
$black-color: #191414;
$dark-color: #121212;
$secondary-color: #181818;
$header-color: #3d102a;
$playlist-tracks-background: #121212;
$spotify-green-color: #1fd760;
$gray-color: #a4a4a4;
$scroll-thumb-color: rgba(77, 77, 77, 0.5);
$btn-bg-active: #0d0d0d;
$btn-bg-disable: RGBa(24, 24, 24, 0.5);
$btn-text-disable: #aaaaaa;
