@use "../../../../assets/scss/colorVariables" as color;

div.header {
  background-color: transparent;
  height: 60px !important;
  .button {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #000;
  }
}
