<div #header class="w-100 p-0 m-0 px-4 header d-flex align-items-center">
  <div class="navigator d-flex align-items-center">
    <div [class]="'prev centered button mr-3 pr-1 pointer ' + (this.navigator.backStatus ? 'button-active' : 'button-disable')" (click)="this.navigator.backStatus ? back() : null">
      <i class="fas fa-chevron-left fa-lg"></i>
    </div>
    <div [class]="'next centered button pl-1 pointer ' + (this.navigator.forwardStatus ? 'button-active' : 'button-disable')" (click)="this.navigator.forwardStatus ? forward() : null">
      <i class="fas fa-chevron-right fa-lg"></i>
    </div>
  </div>
</div>