<div class="container-fluid h-100 p-0 m-0 aside">
  <!-- Logo -->
  <a routerLink="/">
    <img src="../../../../assets/logos/01_RGB/02_PNG/Spotify_Logo_RGB_White.png" alt="Spotify Logo"
      class="p-4 aside-logo d-block">
  </a>
  <!-- menu items template -->
  <ng-template #mainMenu let-label="title" let-icon="icon" let-router="router">
    <a [routerLink]="router" class="d-block selector font-weight-bold">
      <ng-container *ngIf="icon">
        <i [class]="'mr-3 fa-lg fas fa-' + icon"></i>
      </ng-container> 
      {{ label }}
    </a>
  </ng-template>
  <!-- menu item -->
  <div class="aside-menu mb-3">
    <div *ngFor="let item of menu" class="px-4 py-2">
      <ng-container [ngTemplateOutlet]="mainMenu" [ngTemplateOutletContext]="item"></ng-container>
    </div>
  </div>
  <!-- button item -->
  <div class="aside-button">
    <div *ngFor="let button of buttons" class="px-4 py-2">
      <ng-container [ngTemplateOutlet]="mainMenu" [ngTemplateOutletContext]="button"></ng-container>
    </div>
  </div>

  <hr class="bg-dark mx-4 my-2">
  <!-- playlists -->
  <div class="aside-playlists">
    <ng-template #playlistTemp let-name="name" let-router="id">
      <a [routerLink]="'/playlist/'+ router" class="d-block selector">
        {{ name }}
      </a>
    </ng-template> 
    <div *ngFor="let playlist of playlistsData" class="px-4 py-1">
      <ng-container [ngTemplateOutlet]="playlistTemp" [ngTemplateOutletContext]="playlist"></ng-container>
    </div> 
  </div>
</div>