@use "../../../../../assets/scss/colorVariables" as color;

.authorization {
  background-color: color.$dark-color;
  .authorization-button {
    padding: 15px 40px;
    border: none;
    background-color: color.$spotify-green-color;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 50px;
    &:hover {
      transform: scale(1.1);
    }
  }
}
