/* You can add global styles to this file, and also import other style files */
* {
  color: white;
}

a {
  cursor: pointer;
}

.selector {
  color: #b2b2b2 !important; 
  text-decoration: none;
  background-color: transparent;
  i {
    color: #b2b2b2 !important; 
  }
}

.selector:hover {
  color: white !important;
  text-decoration: none;
  background-color: transparent;
  i {
    color: white !important;
  }
}